<div class="top-links">
  <h2 class="category-h">Categories</h2>
  <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'sign-out-button' %>
</div>

<div class="section-container">
  <section class="category-section">
    <% @categories.each do |category| %>
      <a class="category" href=<%= category_transactions_path(category) %>>
        <div class="img_container">
          <img src=<%= category.icon %> alt=<%= category.name %> />
        </div>
        <div class="category-info">
          <h3><%= category.name %></h3>
          <p>Total Amount: <%= category.transactions.sum(:amount) %></p>
        </div>
      </a>
    <% end %>
  </section>
</div>

<div class="new-category-button">
  <%= link_to 'Add a New Category', new_category_path, class: "new_category" %>
</div>
