<div class="top-links">
  <%= link_to 'BACK', session.delete(:return_to) || root_path, class: "back-button" %>
  <h2 class="category-h">New Category</h2>
  <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'sign-out-button' %>
</div>



<div class="form-container">
  <%= form_with model: @category, url: categories_path, local: true do |form| %>

    <div class="form-header">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="form-row">
      <%= form.label :icon %>
      <%= form.text_field :icon, placeholder: 'Icon URL' %>
    </div>

    <div class="form-actions">
      <%= form.submit 'Create Category' %>
    </div>

  <% end %>
</div>
