<div class="top-links">
  <%= link_to 'Back', category_transactions_path(@category), class: "back-button" %>
  <h2 class="category-h">New Transaction</h2>
  <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'sign-out-button' %>
</div>


<div class="new-transaction-container">
  <%= form_with model: @transaction, url: category_transactions_path(@category), scope: :transaction do |f| %>
    <div class="form-header">
      <%= f.label :name, hidden: true %><br>
      <%= f.text_field :name, placeholder: 'Transaction Name' %>
    </div>

    <div class="form-row">
      <%= f.label :amount, hidden: true %><br>
      <%= f.number_field :amount, placeholder: 'Amount' %>
    </div>

    <div class="form-row">
  <%= f.label :category_id, hidden: true %><br>
  <%= f.select :category_id, options_for_select(@category_options) %>
</div>


    <div class="form-actions">
      <%= f.submit "Save" %>
    </div>
  <% end %>
</div>
